<%- include('header'); -%>
<div class="head1">
<h1 >
    SYMPTOMS
</h1>
</div>
<p class="p">
    Reported illnesses have ranged from mild symptoms to severe illness and death for confirmed coronavirus disease 2019 (COVID-19) cases.

These symptoms may appear 2-14 days after exposure (based on the incubation period of MERS-CoV viruses).

</p>
<b>
    



<ul>
    <li type="disc">Fever</li>
    <li type="disc">Cough</li>
    <li type="disc">Shortness of breath</li>

</ul>

</b>

<div class="row">
<div class="column"><a href="https://www.healthline.com/health/fever#what-to-look-for">
  <img class="demo5" src="fever.png" alt="Fever" ></a>
</div>
<div class="column"><a href="https://www.medicalnewstoday.com/articles/220349">
  <img class="demo5" src="cough.png" alt="Forest" ></a>
</div>
<div class="column"><a href="https://www.webmd.com/lung/shortness-breath-dyspnea#1">
  <img class="demo5" src="shortnessOfBreath.png" alt="Mountains" style="border-radius:50%" >
</a>
</div>
</div>
<p class="p">
<b style="font:large";>  When to Seek Medical Attention</b><br>
If you develop  <b>emergency warning signs </b>for COVID-19 get <b >medical attention immediately</b>. Emergency warning signs include*:

</p>
<ul >
<li type="disc">Trouble breathing</li>
   <li type="disc"> Persistent pain or pressure in the chest</li>
    <li type="disc">New confusion or inability to arouse</li>
   <li type="disc">Bluish lips or face</li>
</ul>
<p>*This list is not all inclusive. Please consult your medical provider for any other symptoms that are severe or concerning.</p>
<b style="font-size: large";>When to see a doctor</b><br>
<p>Contact your doctor or clinic right away if you have <b>COVID-19</b> symptoms, you've been exposed to someone with <b>COVID-19</b>, or you live in or have traveled from an area with ongoing community spread of <b>COVID-19</b> as determined by CDC and<b>WHO</b>. Call your doctor ahead to tell him or her about your symptoms and recent travels and possible exposure before you go to your appointment.
<br><br>

Anyone with respiratory symptoms who hasn't been in an area with ongoing community spread can contact his or her doctor or clinic for further recommendations and guidance. Let your doctor know if you have other chronic medical conditions. As the pandemic progresses, it's important to make sure health care is available for those in greatest need.</p>
<br><br>

<div class="demo3">
<img src="new.png">







<button class="button">Symptoms of Covid-2019</button><br>


<iframe width="350" height="180
" src="https://www.youtube.com/embed/5jD2xd3Cv80" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br><br>

<iframe width="350" height="180" src="https://www.youtube.com/embed/YAc9NabBJzg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


</body>
</html>